
<section id="contact">
    
    <div  class="contact">

    <h3>Contact Me</h3>
    <p>Send me a message at:</p>
    <br>
    <p><span>madalina.niculae@gmail.com</span></p>
    
    
    
    <form action="https://formspree.io/your@email.com"
          method="POST">
        
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="_replyto" placeholder="E-mail">
        <textarea name="message" placeholder="Message"></textarea>
        <br>
        <input class="button" type="submit" value="Send Message">
        
    </form>
    
    </div>
    
</section>