<footer>

    
    <div class="lockup">


        <div class="logo-footer">

            <object >
                {%include icons/logo.html%}
            </object>

        </div>

        <div class="content-wrap">

            <nav>
                <a href="#about">About Me</a>
                <a href="">Works</a>
                <a href="#contact">Contact</a>
            </nav>


            <p class="copyright">Copyright 2016-2017 Madalina Niculae All Rights Reserved</p>

        </div>

    </div>

   

</footer>