---

---

   
    
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="../assets/css/main.css" />
  <link href="../assets/css/lightbox.min.css" rel="stylesheet" />
</head>
<body>

{% include header.html %}    
    
    
<section class="works-gallery">
    <div>
{% for project in site.data.projects %}
  
    <h1>{{ project.description }}</h1>
    
    {% for image in project.images %}
      
        
        <a href="../{{ project.imagefolder }}/{{ image.name }}" data-lightbox="{{ project.id }}" title="{{ image.text }}">
          <img src="../{{ project.imagefolder }}/{{ image.thumb }}" width="100px" height="100px">
        </a>
      
    {% endfor %}
    
  
{% endfor %}
        </div>
</section>
<script src="../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../assets/js/lightbox.min.js"></script>
    
</body>
</html>    